{% extends 'index.html' %}

{% block style %}
    <style>
        .col-6{
            border: 1px dotted black;
        }

        form{
            text-align: center;
            top: 40;
        }
    </style>
    
{% endblock style %}
    
{% block contents %}
    
<body>
   <div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1>{{error_message}}</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Submit</button>
            </form>

            <form action="" method="post">
                <label for="team_name">Team Name:</label>
  <input type="text" id="team_name" name="team_name" required>
  
  <label for="room">Room:</label>
  <select id="room" name="room" required>
    {% for room in rooms %}
      <option value="{{ room.id }}">{{ room.name }}</option>
    {% endfor %}
  </select>
  
  <label for="start_time">Start Time:</label>
  <input type="datetime-local" id="start_time" name="start_time" required>
  
  <label for="end_time">End Time:</label>
  <input type="datetime-local" id="end_time" name="end_time" required>
  
  <button type="submit">Book Meeting</button>
            </form>
        </div>
    </div>
   </div>
    {{book}}
<script>
    $(document).ready(function(){
        
    })
</script>

</body>
</html>
{% endblock contents %}
    
